[user]
	name = Randy Westlund
	email = rwestlun@gmail.com
[alias]
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[pull]
	ff = only
[remote "origin"]
	prune = true
