! set color
!xterm*termName: xterm-256color
xterm*termName: xterm-color
! UTF-8
xterm*locale: true
! fix alt key for shortcuts
xterm*metaSendsEscape: true
! more than 1024 scrollback
xterm*saveLines: 4096
! invert colors
xterm*reverseVideo: true
! font
xterm*faceName: Liberation Mono:size=10:antialias=true
xterm*font: 7x13
! copy paste
!xterm*selectToClipboard: true
!st*selectToClipboard: true
